@model TryAutoZone.Models.Reservation

@{
    ViewData["Title"] = "Utwórz Rezerwację";
}

<h1 class="text-center">Utwórz Rezerwację</h1>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create" method="post" class="border p-4 rounded">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label">Użytkownik</label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CarId" class="control-label">Samochód</label>
                    <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ReservationDate" class="control-label">Data Rezerwacji</label>
                    <input asp-for="ReservationDate" class="form-control" type="datetime-local"/>
                    <span asp-validation-for="ReservationDate" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="AdditionalInformation" class="form-label">Dodatkowe Informacje</label>
                    <textarea asp-for="AdditionalInformation" class="form-control"></textarea>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Utwórz Rezerwację" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary ml-2">Powrót do Listy</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

