@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h1>@ViewData["Title"]</h1>

<h2 class="mt-4">Wstęp</h2>
<p>Cieszymy się z Twojego zainteresowania naszą stroną internetową. Ochrona Twojej prywatności jest dla nas bardzo ważna. Poniżej przedstawiamy szczegółowe informacje na temat przetwarzania Twoich danych.</p>

<h2>Zbieranie, przetwarzanie i wykorzystanie danych osobowych</h2>
<p>Możesz odwiedzać naszą stronę internetową bez podawania żadnych danych osobowych. Dane osobowe są zbierane tylko wtedy, gdy dobrowolnie informujesz nas o nich podczas korzystania ze strony. Bez Twojej wyraźnej zgody te dane będą wykorzystywane wyłącznie do wykonania Twojego zlecenia lub odpowiedzi na Twoje zapytanie.</p>

<h2>Przekazywanie danych osobowych</h2>
<p>Twoje dane nie będą przekazywane osobom trzecim bez Twojej wyraźnej zgody, chyba że jesteśmy zobowiązani do ich ujawnienia na mocy przepisów prawa.</p>

<h2>Prawa użytkownika</h2>
<p>Masz prawo, na wniosek i bezpłatnie, dowiedzieć się o danych osobowych przechowywanych na Twój temat. Dodatkowo masz prawo do sprostowania nieprawidłowych danych, blokowania i usunięcia swoich danych osobowych, o ile nie stoi temu na przeszkodzie żadne ustawowe obowiązek przechowywania danych.</p>

<h2>Kontakt</h2>
<p>W przypadku pytań dotyczących zbierania, przetwarzania lub wykorzystywania Twoich danych osobowych, w przypadku informacji, sprostowań, blokowania lub usuwania danych oraz w przypadku odwołania udzielonych zgód, prosimy o kontakt pod adresem e-mail: kontakt@example.com lub telefonicznie: +48 999 999 999.</p>